<mat-drawer-container style="height: 100%" hasBackdrop="false">
  <mat-drawer
    #drawer
    mode="side"
    position="end"
    style="width: 320px; padding: 16px"
  >
    <clip-feature-browser
      (widgetAdded)="addWidget($event)"
    ></clip-feature-browser>
  </mat-drawer>
  <div class="grid-container">
    <button
      mat-fab
      color="primary"
      (click)="onToggleDesignMode()"
      style="
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 14px;
        z-index: 100;
      "
      *ngIf="!designMode"
    >
      <mat-icon>grid_view</mat-icon>
    </button>
    <mat-toolbar color="primary" class="design-toolbar" *ngIf="designMode">
      <span>Design Mode</span>
      <span class="flex-spacer"></span>
      <button mat-flat-button (click)="onToggleDesignMode()">Done Editing</button>
      <span class="flex-spacer"></span>
      <button mat-flat-button (click)="drawer.toggle()">Add Item</button>
    </mat-toolbar>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="isLoading"
      style="position: absolute; top: 0; left: 0; right: 0; z-index: 100"></mat-progress-bar>
    <gridster [options]="options" class="dashboard-grid">
      <gridster-item
        class="dashboard-item"
        [item]="item"
        *ngFor="let item of dashboard"
      >
        <mat-card class="dashboard-card" *ngIf="item['featureWidget'].widget">
          <mat-card-header class="dashboard-card-header">
            <mat-card-title> {{ item['featureWidget'].widget.title }} </mat-card-title>
            <span class="flex-spacer"></span>

            <button mat-icon-button color="accent" class="settings-button">
              <mat-icon>settings</mat-icon>
            </button>
            <button
              mat-icon-button
              *ngIf="designMode"
              color="accent"
              class="more-button"
              (click)="removeItem(item)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content-container">
            <clip-widget-proxy
              [featureWidget]="item['featureWidget']"
            ></clip-widget-proxy>
          </mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card" *ngIf="!item['featureWidget'].widget">
          <mat-card-header class="dashboard-card-header">
            <mat-card-title> {{ item['featureName'] }} </mat-card-title>
            <span class="flex-spacer"></span>

            <button mat-icon-button color="accent" class="settings-button">
              <mat-icon>settings</mat-icon>
            </button>
            <button
              mat-icon-button
              *ngIf="designMode"
              color="accent"
              class="more-button"
              (click)="removeItem(item)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content-container">
            Widget <b>{{ item['widgetName'] }}</b>not available!
          </mat-card-content>
        </mat-card>
      </gridster-item>
    </gridster>
  </div>
</mat-drawer-container>
