.feature-item {
  display: flex;
  flex-direction: column;
  padding: 28px;
  border: #e5e6ea 1px solid;
  border-radius: 4px;
  background-color: white;
  width: 320px;
  height: 180px;
  cursor: pointer;
}

.feature-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  flex-shrink: 0;
}

.tags {
  flex-shrink: 0;
}

.feature-item:hover {
  border: #80ACFF 1px solid;
  border-radius: 4px;
}

.feature-name {
  margin-left: 16px;
  margin-bottom: 0px;
}

.feature-icon {
  color: #D3D6E0;
}

p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0px;
}

.material-icons.feature-icon {
  color: white;
  font-size: 36px;
  line-height: 1.25;
  width: 48px;
  height: 48px;
  background-color: #446f9b;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}
