<div class="feature-news-panel">
  <img src="http://localhost:4202/assets/chart-news.png" alt="dashboard" />
  <div class="mat-headline-6">New Chart Widgets</div>
  <div class="mat-body news-content">
    New amazing chart widgets coming soon, with pie, bar, line and filled pie
    showing all your latest metrics
    New amazing chart widgets coming soon, with pie, bar, line and filled pie
    showing all your latest metrics
  </div>
  <div class="pages">
    <div class="page-item-active"></div>
    <div class="page-item"></div>
    <div class="page-item"></div>
  </div>
</div>
