.feature-news-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.news-content {
  color: #32363a;
  flex: 1;
}

.pages {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  height: 8px;
}

.page-item-active {
  background-color: #3b4252;
  width: 30%;
  height: 100%;
  border-radius: 4px;
}

.page-item {
  background-color: #3b425223;
  width: 30%;
  height: 100%;
  border-radius: 4px;
}
