<mat-toolbar><mat-icon>link</mat-icon><span>CLiP</span></mat-toolbar>
<mat-nav-list>
  <ng-container *ngFor="let sideNavItem of sideNavItems">
    <a
      mat-list-item
      *ngIf="!sideNavItem.subItems || sideNavItem.subItems?.length === 0"
      routerLink="{{ sideNavItem.route }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div class="center-flex">
        <mat-icon id="{{ sideNavItem.id }}">{{ sideNavItem.icon }}</mat-icon>
        <span>{{ sideNavItem.text }}</span>
      </div>
    </a>

    <a
      mat-list-item
      *ngIf="sideNavItem.subItems && sideNavItem.subItems.length > 0"
      (click)="expandNavItem(sideNavItem)"
    >
      <div class="center-flex">
        <mat-icon id="{{ sideNavItem.id }}">{{ sideNavItem.icon }}</mat-icon>
        <span>{{ sideNavItem.text }}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </a>

    <mat-nav-list
      dense
      *ngIf="sideNavItem.subItems && sideNavItem.isExpanded"
      class="sub-nav-list fade-in-on-icon-sidenav"
    >
      <mat-list-item *ngFor="let subItem of sideNavItem.subItems">
        <a
          id="{{ sideNavItem.id }}"
          mat-list-item
          routerLink="{{ subItem.route }}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span matBadgeOverlap="false">{{ subItem.text }} </span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </ng-container>
</mat-nav-list>