@use '@angular/material' as mat;
@use 'sass:map';

$md-telxl-primary: (
    50 : #e5effb,
    100 : #bed8f4,
    200 : #92beed,
    300 : #66a3e5,
    400 : #4690e0,
    500 : #257cda,
    600 : #2174d6,
    700 : #1b69d0,
    800 : #165fcb,
    900 : #0d4cc2,
    A100 : #eff4ff,
    A200 : #bcd0ff,
    A400 : #89adff,
    A700 : #6f9bff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-clip-primary: (
    50 : #e5e6e9,
    100 : #bdc1c7,
    200 : #9198a2,
    300 : #656e7c,
    400 : #444f60,
    500 : #233044,
    600 : #1f2b3e,
    700 : #1a2435,
    800 : #151e2d,
    900 : #0c131f,
    A100 : #5f98ff,
    A200 : #2c77ff,
    A400 : #0059f8,
    A700 : #0050df,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$my-primary: mat.define-palette($md-telxl-primary);
$my-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-typography: mat.define-typography-config(
  $font-family: 'inter'
);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: $my-typography,
 density: -2,
));

@function my-mat-light-theme-foreground($color) {
  @return (
      base:              $color,
      divider:           rgba($color, 0.12),
      dividers:          rgba($color, 0.12),
      disabled:          rgba($color, 0.38),
      disabled-button:   rgba($color, 0.38),
      disabled-text:     rgba($color, 0.38),
      hint-text:         rgba($color, 0.38),
      secondary-text:    rgba($color, 0.54),
      icon:              rgba($color, 0.54),
      icons:             rgba($color, 0.54),
      text:              rgba($color, 0.87),
      slider-off:        rgba($color, 0.26),
      slider-off-active: rgba($color, 0.38),
      slider-min:        rgba($color, 0.38)
  );
};

$clip-foreground: my-mat-light-theme-foreground(#152536);


@include mat.all-component-themes($my-theme);

@include mat.typography-hierarchy($my-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.flex-spacer {
  flex: 1;
}

@import "../../../node_modules/@jsplumbtoolkit/browser-ui/css/jsplumbtoolkit.css";


.jtk-surface {
  height: 100%;
  // background-size: 30px 30px;
  // background-image: radial-gradient(circle, rgb(200, 200, 200) 1px, rgba(0, 0, 0, 0) 1px); 
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #E7E7ED 1px, transparent 1px),
    linear-gradient(to bottom, #E7E7ED 1px, transparent 1px);
}

.jtk-node {
  justify-content: unset;
  align-items: unset;
  display: block;
}

.question {
  position: absolute;
  line-height: 1.5rem;
  cursor: move;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  border: lightgray 1px solid;
  border-radius: 8px;
  min-width: 160px;
  min-height: 30px;
  max-width: 260px;
}

.question:hover {
  border: #80ACFF 2px solid;
  box-shadow: 0 0 9px rgba(33, 33, 33, .2);
  -o-box-shadow: 0 0 9px rgba(33, 33, 33, .2);
  -webkit-box-shadow: 0 0 9px rgba(33, 33, 33, .2);
  -moz-box-shadow: 0 0 9px rgba(33, 33, 33, .2);
}

.drag-output {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-bottom: 2px;
  cursor: pointer;
  text-align: center;
}

.drag-output:hover {
  background-color: #F7F8F9;
  border-radius: 8px;
}

.question-text-editing {
  cursor: text;
  display: inline-block;
  border: none;
}

.q-text {
  // min-height: 40px;
  padding: 12px 12px 4px 12px;
}

.q-type-label {
  color: grey;
  padding: 0px 12px 24px 12px;
  display: flex;
  align-items: center;
}


.q-type-label-text {
  margin-left: 6px;
  font-size: 10pt;
}


[contenteditable] {
  outline: 0px solid transparent;
}

.edge-label {
  background-color: white;
  padding: 10px;
}

.node-icon {
  color: #6B6C7E;
  font-size: 18px;
}