@use '@angular/material' as mat;

$md-primaryblue: (
    50 : #e8f0fd,
    100 : #c5dafa,
    200 : #9fc1f7,
    300 : #79a8f4,
    400 : #5c95f1,
    500 : #3f82ef,
    600 : #397aed,
    700 : #316feb,
    800 : #2965e8,
    900 : #1b52e4,
    A100 : #ffffff,
    A200 : #e5ebff,
    A400 : #b2c5ff,
    A700 : #98b1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$agora-dark-primary: mat.define-palette($md-primaryblue);
$agora-dark-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$agora-dark-warn: mat.define-palette(mat.$red-palette, 500);

$agora-dark-theme: mat.define-dark-theme(
  $agora-dark-primary,
  $agora-dark-accent,
  $agora-dark-warn
);
