@use '@angular/material' as mat;

$my-dark-theme-background: (
  status-bar: #22313a,
  app-bar:    #22313a,
  background: #1e2a31,
  hover:      rgba(white, 0.04), 
  card:       #2b3c46,
  dialog:      #2b3c46,
  disabled-button: #2b3c46,
  raised-button: #7996a9,
  focused-button: rgba(white, 0.6),
  selected-button: #9bbcd1,
  selected-disabled-button: #394e5a,
  disabled-button-toggle: black,
  unselected-chip: #394e5a,
  disabled-list-option: black,
);

$my-dark-theme-foreground: (
  base:             #dcf3ff,
  divider:           #394e5a,
  dividers:          #394e5a,
  disabled:          #394e5a,
  disabled-button:   #394e5a,
  disabled-text:     #394e5a,
  hint-text:         #7996a9,
  secondary-text:    #9bbcd1,
  icon:              white,
  icons:             white,
  text:              #dcf3ff,
  slider-min:        white,
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

$my-dark-theme-warn: (
  50 : #faeaec,
  100 : #f3cace,
  200 : #eba6ae,
  300 : #e3828e,
  400 : #dd6875,
  500 : #d74d5d,
  600 : #d34655,
  700 : #cd3d4b,
  800 : #c73441,
  900 : #be2530,
  A100 : #fffafa,
  A200 : #ffc7ca,
  A400 : #ff949b,
  A700 : #ff7a83,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-wonky-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $my-dark-theme-foreground,
    background: $my-dark-theme-background,
  );
}

$agora-dark-custom-primary: mat.define-palette(mat.$blue-palette, 800);
$agora-dark-custom-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$agora-dark-custom-warn: mat.define-palette($my-dark-theme-warn);

$agora-dark-custom-theme: create-wonky-theme(
  $agora-dark-custom-primary,
  $agora-dark-custom-accent,
  $agora-dark-custom-warn
);
