<div class="container">
  <div class="header">
    <mat-card class="header-card">
      <mat-card-header><mat-card-title>Status</mat-card-title></mat-card-header>
      <mat-card-content>
        <clip-agent-status></clip-agent-status>
      </mat-card-content>
    </mat-card>
    <mat-card class="header-card">
      <mat-card-header><mat-card-title>SLA Trend</mat-card-title></mat-card-header>
      <mat-card-content>
        <clip-sla-trend></clip-sla-trend>
      </mat-card-content>
    </mat-card>
    <mat-card class="header-card">
      <mat-card-header><mat-card-title>Logged in trend</mat-card-title></mat-card-header>
      <mat-card-content>
        <clip-logged-in-trend></clip-logged-in-trend>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="agent-list">
    <mat-card class="list-card">
      <mat-card-header>
        <mat-card-title> Agents </mat-card-title>
        <span class="flex-spacer"></span>

        <button mat-icon-button color="primary" class="settings-button">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content class="list-card-content">
        <table mat-table [dataSource]="dataSource">
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="accepted">
            <th mat-header-cell *matHeaderCellDef>Accepted</th>
            <td mat-cell *matCellDef="let element">{{ element.accepted }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="rejected">
            <th mat-header-cell *matHeaderCellDef>Rejected</th>
            <td mat-cell *matCellDef="let element">{{ element.rejected }}</td>
          </ng-container>

          <!-- Active Column -->
          <ng-container matColumnDef="avgHandling">
            <th mat-header-cell *matHeaderCellDef>Avg. handling</th>
            <td mat-cell *matCellDef="let element">
              {{ element.avgHandling }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
