<div class="feature-container" *ngIf="feature">
  <div class="feature-heading-container">
    <div class="feature-heading">
      <div class="material-icons feature-icon">person</div>
      <div class="heading-title">
        <div class="feature-name mat-headline-5">{{ feature.name }}</div>
        <div class="feature-version">{{ feature.version }}</div>
        <div class="feature-actions">
          <button mat-flat-button color="primary" (click)="install(feature)" *ngIf="!installed">Install Feature</button>
          <button mat-flat-button color="warn" (click)="remove(feature)" *ngIf="installed">Remove</button>
        </div>
      </div>
    </div>

    <nav
      mat-tab-nav-bar
      [tabPanel]="tabPanel"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      class="tabs"
    >
      <a
        mat-tab-link
        routerLink="overview"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
        >Overview</a
      >
      <a
        mat-tab-link
        routerLink="changelog"
        routerLinkActive
        #rlaChange="routerLinkActive"
        [active]="rlaChange.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
        >Changelog</a
      >
      <a
        mat-tab-link
        routerLink="components"
        routerLinkActive
        #rlaComp="routerLinkActive"
        [active]="rlaComp.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
        >Components</a
      >
      <a
        mat-tab-link
        routerLink="./versions"
        routerLinkActive
        #rlaVer="routerLinkActive"
        [active]="rlaVer.isActive"
        >Versions</a
      >
    </nav>
  </div>
  <mat-tab-nav-panel #tabPanel class="content"
    ><router-outlet></router-outlet
  ></mat-tab-nav-panel>
</div>
