.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.feature-heading-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  background-color: white;
  align-items: center;
  width: 100%;
}

.feature-heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  align-items: center;
  background-color: white;
  width: 1000px;
}

.tabs {
  width: 1000px;
}

.heading-title {
 display: flex;
 flex-direction: column;
 margin-left: 24px;
}

.feature-name {
  margin-bottom: 6px;
}

.feature-new {
  margin-left: auto;
  background-color: #7ab55c;
  border-radius: 24px;
  width: 48px;
  text-align: center;
  color: white;
  font-size: 12px;
}

.feature-icon {
  color: #D3D6E0;
  margin: 24px 0px;
}

.material-icons.feature-icon {
  color: #6B6C7E;
  font-size: 64px;
  line-height: 1.25;
  width: 84px;
  background-color: #F7F8F9;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 1000px;
}

.feature-detail {
  height: 500px;
  background-color: white;
  border-radius: 6px;
  border: #e5e6ea 0px solid;
  padding: 28px;
  flex: 1;
}

.feature-actions {
  width: 200px;
  background-color: white;
  border-radius: 6px;
  border: #e5e6ea 0px solid;
  padding: 28px;
  display: flex;
  flex-direction: column;
}